.myparcel-address-container{
    border:1px solid #c2ccd6;
    border-radius: 4px;
    padding: 16px 24px;
}

.myparcel-address-alert{
    margin-left: auto;
    margin-right: 0;
    & .sw-alert__body{
        padding: 6px 60px;
    }
    & .sw-alert__icon{
        top: 9px;
    }
}
.myparcel-address-sw-radio-panel{
    max-width: none;
}
