{% sw_extends '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}

    {% block component_shipping_method_label %}
        {{ parent() }}
        {% if shipping.id in page.myparcel_shipping_method_ids %}
            <div class="myparcel_shipping_form mt-3" data-myparcel-option="true" data-shipping-method-id="{{ shipping.id }}" data-target="myparcel[shipping_method_id]" data-options-loaded="false">
            </div>
        {% endif %}
    {% endblock %}
