{% sw_extends '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}

{% block component_shipping_method_label %}
    {{ parent() }}
    {% if shipping.translated.customFields.myparcel and shipping.id is same as(context.shippingMethod.id) %}
        <template data-delivery-options-plugin
                  data-delivery-options-plugin-options='{{ deliveryOptionsPluginOptions|json_encode }}'></template>
        <div id="myparcel-delivery-options"></div>
    {% endif %}
{% endblock %}
