{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}

{% block page_checkout_confirm_shipping_form_input %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_confirm_shipping_form_label %}
    {{ parent() }}
    {% if shipping.customFields.myparcel  and context.shippingMethod.customFields.myparcel %}
        <div id="myparcel-delivery-options"></div>
    {% endif %}
{% endblock %}
