{% block sw_settings_content_card_slot_shop %}
    {% parent %}

    <sw-settings-item :label="$tc('sw-myparcel.general.mainMenuItemGeneral')"
                      :to="{ name: 'sw.myparcel.index' }"
                      :backgroundEnabled="true">
        <template #icon>
            <span class="sw-icon sw-icon--fill">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.549 151.549" class="myparcel-logo">
                    <g fill="#758ca3" transform="translate(-128 -152)">
                        <path d="M152.482,273.612a16.466,16.466,0,0,1-8.288-30.7L246.747,183.3a16.464,16.464,0,1,1,16.546,28.47l-102.553,59.6A16.388,16.388,0,0,1,152.482,273.612Z" fill="currentColor"></path>
                        <path d="M203.93,303.117a16.466,16.466,0,0,1-8.289-30.7l51.277-29.8a16.464,16.464,0,1,1,16.546,28.47l-51.277,29.8A16.383,16.383,0,0,1,203.93,303.117Z" fill="currentColor"></path>
                        <path d="M152.311,214.3a16.467,16.467,0,0,1-8.289-30.7L195.3,153.8a16.465,16.465,0,0,1,16.548,28.47l-51.276,29.8A16.394,16.394,0,0,1,152.311,214.3Z" fill="currentColor"></path>
                    </g>
                </svg>
            </span>
        </template>
    </sw-settings-item>
{% endblock %}