.myparcel_shipping_form {
    overflow-y: hidden;
    transition: all .5s ease-in-out;
    display: none;

    .shipping-method-input:checked ~ & {
        display: block;
    }
}
.myparcel_delivery_options {
    padding-left: 30px;

    .custom-checkbox {
        > .custom-control-label::before {
            @include border-radius($custom-checkbox-indicator-border-radius);
        }

        > .custom-control-input:checked ~ .custom-control-label {
            &::after {
                background-image: $custom-checkbox-indicator-icon-checked;
            }
        }
    }
}
.myparcel_pickuppoint{
    label{
        margin: 5px 0;
        .location{
            display: block;
        }
    }
}
.my_parcel_delivery_location_type{
    &.address{
        ~ .myparcel_delivery_address{
            display: none;
            margin-left: 20px;
        }
        &:checked{
            & ~ .myparcel_delivery_address{
                display: block;
            }
        }
    }
    &.pickup{
        ~ .myparcel_delivery_pickup{
            display: none;
            margin-left: 20px;
        }
        &:checked{
            & ~ .myparcel_delivery_pickup{
                display: block;
            }
        }
    }
}
