.myparcel_shipping_form {
    max-height: 0;
    overflow-y: hidden;
    transition: all .5s ease-in-out;
    display: none;

    .shipping-method-input:checked ~ & {
        max-height: 12rem;
        display: block;
    }
}
.myparcel_delivery_options{
    padding-left: 30px;
}
.my_parcel_delivery_location_type{
    &.address{
        ~ .myparcel_delivery_address{
            display: none;
            margin-left: 20px;
        }
        &:checked{
            & ~ .myparcel_delivery_address{
                display: block;
            }
        }
    }
    &.pickup{
        ~ .myparcel_delivery_pickup{
            display: none;
            margin-left: 20px;
        }
        &:checked{
            & ~ .myparcel_delivery_pickup{
                display: block;
            }
        }
    }
}
