{% block sw_myparcel_orders %}
    <sw-page class="sw-myparcel">
        {% block sw_myparcel_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_myparcel_smart_bar_header_title %}
                <h2>
                    {% block sw_myparcel_smart_bar_header_title_text %}
                        {{ $tc('sw-myparcel.general.mainMenuItemGeneral') }}: {{ $tc('sw-myparcel.orders.title') }}
                    {% endblock %}
                </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_myparcel_smart_bar_actions %}
            <template #smart-bar-actions>

            </template>
        {% endblock %}

        {% block sw_myparcel_content %}
            <template #content>
                <sw-grid
                    :items="shippingOptions"
                    :isFullpage="true"
                    :table="true"
                    :sortBy="sortBy"
                    :sortDirection="sortDirection"
                    @sw-grid-select-item="onSelectionChanged"
                    @sw-grid-select-all="onSelectionChanged"
                    @sort-column="onSortColumn">
                    <template slot="columns" slot-scope="{ item }">
                        <sw-grid-column flex="minmax(200px, 1fr)" label="Order" dataIndex="order.orderNumber" :sortable="true">
                            {{ item.order.orderNumber }}
                        </sw-grid-column>

                        <sw-grid-column flex="minmax(200px, 1fr)" label="Aankoopdatum" dataIndex="order.orderDateTime" :sortable="true">
                            {{ item.order.orderDateTime | date({hour: '2-digit', minute: '2-digit'}) }}
                        </sw-grid-column>

                        <sw-grid-column flex="minmax(200px, 1fr)" label="Totaalbedrag">
                            {{ item.order.amountTotal | currency('EUR') }}
                        </sw-grid-column>

                        <sw-grid-column flex="minmax(200px, 1fr)" label="Status">
                            {{ item.order.stateMachineState.name }}
                        </sw-grid-column>

                        <sw-grid-column flex="minmax(200px, 1fr)" label="Acties">
                            <sw-context-button :showMenuOnStartup="false" :menuWidth="220" menuHorizontalAlign="right" menuVerticalAlign="bottom" icon="small-more" :disabled="false" :autoClose="true" :zIndex="9000">
                                <sw-context-menu-item class="sw-myparcel-shipping-options-list__order-view-action" :routerLink="{ name: 'sw.order.detail', params: { id: item.orderId } }">
                                    {{ $tc('sw-myparcel.orders.buttons.viewOrder') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item class="sw-myparcel-shipping-options-list__create-shipment-action" @click="onOpenCreateSingleShipmentModal(item)">
                                    {{ $tc('sw-myparcel.orders.buttons.createShipmentButton') }}
                                </sw-context-menu-item>
                            </sw-context-button>
                        </sw-grid-column>
                    </template>
                </sw-grid>

                <sw-modal v-if="createSingleShipment.showModal === true"
                          :title="$tc('sw-myparcel.orders.modals.createShipment.titleSingle')"
                          @modal-close="onCloseSingleShipmentModal"
                          variant="small">

                    <form>

                        <sw-select-field
                                :label="$tc('sw-myparcel.orders.modals.createShipment.actionTypeHeading')"
                                name="myparcel[action_type]"
                                v-model="createSingleShipment.actionType">

                            <option value="download">{{ $tc('sw-myparcel.orders.modals.createShipment.actionTypeDownloadLabel') }}</option>
                            <option value="download">{{ $tc('sw-myparcel.orders.modals.createShipment.actionTypeCreateLabel') }}</option>
                        </sw-select-field>

                        <sw-select-number-field
                                :label="$tc('sw-myparcel.orders.modals.createShipment.packageTypeHeading')"
                                name="myparcel[package_type]"
                                v-model="createSingleShipment.item.packageType">

                            <option value="1">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypePackageLabel') }}</option>
                            <option value="2">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypeMailboxLabel') }}</option>
                            <option value="3">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypeLetterLabel') }}</option>
                            <option value="4">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypeDigitalStampLabel') }}</option>
                        </sw-select-number-field>

                        <sw-multi-select
                                :label="$tc('sw-myparcel.orders.modals.createShipment.printPositionHeading')"
                                name="myparcel[print_position]"
                                v-model="createSingleShipment.printPosition"
                                :options="[
                                { value: 1, label: $tc('sw-myparcel.orders.modals.createShipment.positionTopLeftLabel') },
                                { value: 2, label: $tc('sw-myparcel.orders.modals.createShipment.positionTopRightLabel') },
                                { value: 3, label: $tc('sw-myparcel.orders.modals.createShipment.positionBottomLeftLabel') },
                                { value: 4, label: $tc('sw-myparcel.orders.modals.createShipment.positionBottomRightLabel') },
                            ]">
                        </sw-multi-select>

                        <sw-number-field
                            :label="$tc('sw-myparcel.orders.modals.createShipment.numberOfLabelsHeading')"
                            name="myparcel[number_of_labels]"
                            numberType="int"
                            :min="1"
                            :step="1"
                            v-model="createSingleShipment.numberOfLabels" />

                        <template v-if="createSingleShipment.item.packageType === 1">
                            <sw-base-field :label="$tc('sw-myparcel.orders.modals.createShipment.shippingOptionsHeading')" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createShipment.optionOnlyRecipientLabel')" name="myparcel[only_recipient]" value="1" v-model="createSingleShipment.item.onlyRecipient" :checked="onlyRecipientChecked(createSingleShipment.item)" :disabled="onlyRecipientDisabled(createSingleShipment.item)" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createShipment.optionRequiresAgeCheckLabel')" name="myparcel[requires_age_check]" value="1" v-model="createSingleShipment.item.requiresAgeCheck" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createShipment.optionRequiresSignatureLabel')" name="myparcel[requires_signature]" value="1" v-model="createSingleShipment.item.requiresSignature" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createShipment.optionReturnIfNotHomeLabel')" name="myparcel[return_if_not_home]" value="1" v-model="createSingleShipment.item.returnIfNotHome" />
                            <sw-checkbox-field :label="$tc('sw-myparcel.orders.modals.createShipment.optionLargePackageLabel')" name="myparcel[large_package]" value="1" v-model="createSingleShipment.item.largePackage" /><br />
                        </template>

                        <template v-else>
                            <input type="hidden" name="myparcel[requires_age_check]" value="0" />
                            <input type="hidden" name="myparcel[requires_signature]" value="0" />
                            <input type="hidden" name="myparcel[return_if_not_home]" value="0" />
                            <input type="hidden" name="myparcel[large_package]" value="0" />
                        </template>

                    </form>

                    <template slot="modal-footer">
                        <sw-button @click="onCloseSingleShipmentModal" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.cancelButton') }}
                        </sw-button>
                        <sw-button @click="onCreateSingleShipment" variant="primary" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.createShipmentButton') }}
                        </sw-button>
                    </template>
                </sw-modal>

                <sw-modal v-if="createMultipleShipments.showModal === true"
                          :title="$tc('sw-myparcel.orders.modals.createShipment.titleMultiple')"
                          @modal-close="onCloseMultipleShipmentsModal"
                          variant="small">

                    <form>

                        <sw-select-field
                                :label="$tc('sw-myparcel.orders.modals.createShipment.actionTypeHeading')"
                                name="myparcel[action_type]"
                                v-model="createMultipleShipments.actionType">

                            <option value="download">{{ $tc('sw-myparcel.orders.modals.createShipment.actionTypeDownloadLabel') }}</option>
                            <option value="download">{{ $tc('sw-myparcel.orders.modals.createShipment.actionTypeCreateLabel') }}</option>
                        </sw-select-field>

                        <sw-select-number-field
                                :label="$tc('sw-myparcel.orders.modals.createShipment.packageTypeHeading')"
                                name="myparcel[package_type]"
                                v-model="createMultipleShipments.item.packageType">

                            <option value="1">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypePackageLabel') }}</option>
                            <option value="2">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypeMailboxLabel') }}</option>
                            <option value="3">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypeLetterLabel') }}</option>
                            <option value="4">{{ $tc('sw-myparcel.orders.modals.createShipment.packageTypeDigitalStampLabel') }}</option>
                        </sw-select-number-field>

                        <sw-multi-select
                                :label="$tc('sw-myparcel.orders.modals.createShipment.printPositionHeading')"
                                name="myparcel[print_position]"
                                v-model="createMultipleShipments.printPosition"
                                :options="[
                                { value: 1, label: $tc('sw-myparcel.orders.modals.createShipment.positionTopLeftLabel') },
                                { value: 2, label: $tc('sw-myparcel.orders.modals.createShipment.positionTopRightLabel') },
                                { value: 3, label: $tc('sw-myparcel.orders.modals.createShipment.positionBottomLeftLabel') },
                                { value: 4, label: $tc('sw-myparcel.orders.modals.createShipment.positionBottomRightLabel') },
                            ]">
                        </sw-multi-select>

                    </form>

                    <template slot="modal-footer">
                        <sw-button @click="onCloseMultipleShipmentsModal" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.cancelButton') }}
                        </sw-button>
                        <sw-button @click="onCreateMultipleShipments" variant="primary" size="small">
                            {{ $tc('sw-myparcel.orders.buttons.createShipmentButton') }}
                        </sw-button>
                    </template>
                </sw-modal>
            </template>

            <template #pagination>
                <sw-pagination :page="page"
                               :limit="limit"
                               :total="total"
                               :total-visible="7">
                </sw-pagination>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}