<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>MyParcel integration for Shopware 6</title>
        <title lang="nl-NL">MyParcel integratie voor Shopware 6</title>

        <input-field>
            <name>myParcelApiKey</name>
            <label>MyParcel API Key</label>
            <label lang="nl-NL">MyParcel API Key</label>
        </input-field>
    </card>

    <card>
        <title>Shipment settings</title>
        <title lang="nl-NL">Verzend instellingen</title>

        <!--Choose default delivery window-->
        <input-field type="single-select">
            <name>myParcelDefaultDeliveryWindow</name>
            <label>Default delivery window</label>
            <label lang="nl-NL">Standaard afleveringsperiode</label>
            <options>
                <option>
                    <id>2</id>
                    <name>Standard</name>
                    <name lang="nl-NL">Standaard</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Morning</name>
                    <name lang="nl-NL">Ochtend</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Evening</name>
                    <name lang="nl-NL">Avond</name>
                </option>
            </options>
            <defaultValue>standard</defaultValue>
        </input-field>

        <!--Choose default signed delivery-->
        <input-field type="single-select">
            <name>myParcelDefaultSignature</name>
            <label>Default signed delivery</label>
            <label lang="nl-NL">Standaard handtekening bij bezorging</label>
            <defaultValue>0</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <!--Choose default only house, no neighbours-->
        <input-field type="single-select">
            <name>myParcelDefaultOnlyRecipient</name>
            <label>Default delivery at neighbours</label>
            <label lang="nl-NL">Standaard aflevering bij buren</label>
            <defaultValue>0</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <!--Choose default return when not at home-->
        <input-field type="single-select">
            <name>myParcelDefaultReturnNotHome</name>
            <label>Default return package to the sender when recipient is not home</label>
            <label lang="nl-NL">Stuur standaard het pakket terug naar de afzender als de ontvanger niet thuis is</label>
            <defaultValue>0</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <!--Choose default large format-->
        <input-field type="single-select">
            <name>myParcelDefaultLargeFormat</name>
            <label>Default delivery is large format</label>
            <label lang="nl-NL">Standaard pakket is groot formaat</label>
            <defaultValue>0</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <!--Choose default age check-->
        <input-field type="single-select">
            <name>myParcelDefaultAgeCheck</name>
            <label>The Customer/Consumer must sign for the package and only receive it when he is at least 18 years</label>
            <label lang="nl-NL">De klant welke voor het pakket tekent dient minstens 18 jaar te zijn</label>
            <defaultValue>0</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <!--Choose default package type-->
        <input-field type="single-select">
            <name>myParcelDefaultPackageType</name>
            <label>Default package type</label>
            <label lang="nl-NL">Standaard verpakkingssoort</label>
            <defaultValue>1</defaultValue>
            <options>
                <option>
                    <id>1</id>
                    <name>Package</name>
                    <name lang="nl-NL">Pakket</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Mailbox package</name>
                    <name lang="nl-NL">Brievenbus pakket</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Letter</name>
                    <name lang="nl-NL">Brief</name>
                </option>
                <option>
                    <id>4</id>
                    <name>Digital stamp</name>
                    <name lang="nl-NL">Digitale postzegel</name>
                </option>
            </options>
            <defaultValue>standard</defaultValue>
        </input-field>

        <!--Choose default only house, no neighbours-->
        <input-field type="single-select">
            <name>myParcelShowWindowType1</name>
            <label>Show morning delivery window</label>
            <label lang="nl-NL">Toon ochtend levering</label>
            <defaultValue>1</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <input-field type="float">
            <name>costsDelivery1</name>
            <label>Morning delivery costs</label>
            <label lang="nl-NL">Kosten ochtendbezorging</label>
        </input-field>

        <!--Choose default only house, no neighbours-->
        <input-field type="single-select">
            <name>myParcelShowWindowType3</name>
            <label>Show evening delivery window</label>
            <label lang="nl-NL">Toon avond levering</label>
            <defaultValue>1</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>No</name>
                    <name lang="nl-NL">Nee</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="nl-NL">Ja</name>
                </option>
            </options>
        </input-field>

        <input-field type="float">
            <name>costsDelivery3</name>
            <label>Evening delivery costs</label>
            <label lang="nl-NL">Kosten avondbezorging</label>
        </input-field>

        <!--Choose default carrier-->
        <component name="sw-entity-single-select">
            <name>myParcelDefaultMethod</name>
            <entity>shipping_method</entity>
            <label>Default shipping method</label>
            <label lang="en-GB">Default shipping method</label>
            <label lang="nl-NL">Standaard verzendwijze</label>
        </component>

    </card>

    <card>
        <title>Label settings</title>
        <title lang="nl-NL">Label instellingen</title>

        <!--Choose default label format-->
        <input-field type="single-select">
            <name>myParcelDefaultLabelFormat</name>
            <label>Default printing format of shipping labels</label>
            <label lang="nl-NL">Standaard afdrukformaat voor verzendlabels</label>
            <defaultValue>A4</defaultValue>
            <options>
                <option>
                    <id>A4</id>
                    <name>A4</name>
                    <name lang="nl-NL">A4</name>
                </option>
                <option>
                    <id>A6</id>
                    <name>A6</name>
                    <name lang="nl-NL">A6</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
