{% block myparcel_content_sidebar %}
    <div class="plugin-manager-sidebar">
        {% block myparcel_content_sidebar_tabs %}
            <sw-tabs isVertical small>
                {% block myparcel_content_sidebar_tabs_list %}
                    {% block myparcel_content_sidebar_tabs_shipments %}
                        <sw-tabs-item :route="{ name: 'sw.plugin.index.licenses' }"
                                      :title="$tc('sw-plugin.general.tabLicenses')"
                                      variant="minimal">
                            Shipments
                        </sw-tabs-item>
                    {% endblock %}

                    {% block myparcel_content_sidebar_tabs_shipping_methods %}
                    <sw-tabs-item :route="{ name: 'sw.plugin.index.list' }"
                                  :title="$tc('sw-plugin.general.tabList')"
                                  variant="minimal">
                        Shipping methods
                    </sw-tabs-item>
                    {% endblock %}
                {% endblock %}
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}