{% block my_parcel_shipping_methods %}
    {% block my_parcel_shipping_methods_content %}
        <div>Shipping methods</div>
        <template #content>
            <sw-card-view>
                <span>Hoi!</span>
            </sw-card-view>
        </template>
    {% endblock %}
{% endblock %}