{% block sw_myparcel_shipments %}
<sw-page class="sw-myparcel-shipments">
    {% block sw_myparcel_smart_bar_header %}
    <template #smart-bar-header>
        {% block sw_myparcel_smart_bar_header_title %}
        <h2>
            {% block sw_myparcel_smart_bar_header_title_text %}
            {{ $tc('sw-myparcel.general.mainMenuItemGeneral') }}: {{ $tc('sw-myparcel.shipments.title') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_myparcel_smart_bar_actions %}
    <template #smart-bar-actions>

    </template>
    {% endblock %}

    {% block sw_myparcel_content %}
    <template #content>
        <sw-grid
                :items="shipments"
                :isFullpage="true"
                :table="true"
                :sortBy="sortBy"
                :sortDirection="sortDirection"
                @sw-grid-select-item="onSelectionChanged"
                @sw-grid-select-all="onSelectionChanged"
                @sort-column="onSortColumn">
            <template slot="columns" slot-scope="{ item }">
                <sw-grid-column flex="minmax(200px, 1fr)" :label="$tc('sw-myparcel.columns.orderColumn')" dataIndex="order.orderNumber" :sortable="true">
                    {{ item.order.orderNumber }}
                </sw-grid-column>

                <sw-grid-column flex="minmax(200px, 1fr)" :label="$tc('sw-myparcel.columns.orderDateColumn')" dataIndex="order.orderDateTime" :sortable="true">
                    {{ item.order.orderDateTime | date({hour: '2-digit', minute: '2-digit'}) }}
                </sw-grid-column>

                <sw-grid-column flex="minmax(200px, 1fr)" :label="$tc('sw-myparcel.columns.packageTypeColumn')">
                    {{ item.shippingOption.packageType }}
                </sw-grid-column>

                <sw-grid-column flex="minmax(200px, 1fr)" :label="$tc('sw-myparcel.columns.actionsColumn')">
                    <sw-context-button :showMenuOnStartup="false" :menuWidth="220" menuHorizontalAlign="right" menuVerticalAlign="bottom" icon="small-more" :disabled="false" :autoClose="true" :zIndex="9000">
                        <sw-context-menu-item :disabled="!item.labelUrl" class="sw-myparcel-shipping-options-list__create-shipment-action" @click="onDownloadLabel(item)">
                            {{ $tc('sw-myparcel.orders.buttons.downloadLabel') }}
                        </sw-context-menu-item>
                    </sw-context-button>
                </sw-grid-column>
            </template>
        </sw-grid>
    </template>

    <template #pagination>
        <sw-pagination :page="page"
                       :limit="limit"
                       :total="total"
                       :total-visible="7">
        </sw-pagination>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}